body{
    background:#273859;
    font-family:Arial, Helvetica, sans-serif;
}

.assignment {
    display:flex;
    padding:10px;
    margin: 10px;
    background:#368ABF;
    border-radius:20px;
}

.assignment img {
    width:200px;
    margin: 10px;
    border:4px solid #A0F2EA;
}

.assignment img:hover {
    border:4px dashed yellow;
}

h1{
    color: #5eadbf;;
    text-align: center;
}

a {
    text-decoration: none;
    color:#A0F2EA;
}

a:hover {
    color:yellow;
}